* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

.toolbox-container {
 
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.toolbox-priority-container {
  background-color: rgb(93, 92, 92);
  height: 3.5rem;
  width: 20rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.color-box {
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  border-radius: 4px;
}

.color-box:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.LightPink {
  background-color: lightpink;
}

.LightGreen {
  background-color: lightgreen;
}

.LightBlue {
  background-color: lightblue;
}

.Black {
  background-color: black;
}

.action-button-container {
  background-color: rgb(93, 92, 92);
  height: 3.5rem;
  width: 10rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.action-button-container > * {
  display: flex;
  color: white;
  font-size: 2rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}



.add-btn:hover {
  background-color: green;
  font-size: 3rem;
}

.remove-btn:hover {
  background-color: red;
  font-size: 3rem;
}

.main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap:2rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ticket-cont {
  height: 12rem;
  width: 15rem;
  background-color: white;
  margin: 2px;
  
}

.ticket-cont:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.Ticket_color {
  height: 1rem;
}

.Ticket-id {
  /* height: 2rem;
  background-color: yellow; */
  background-color: #f1f1f1;
  color: #555;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}


.Ticket-lock {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.Ticket-lock i {
  cursor: pointer;
}

.Ticket-lock i:hover {
  color: #555;
}

.Ticket-task {
  padding: 0.7rem;
  font-size: 1rem;
  flex-grow: 1;
  overflow-wrap: break-word;
}
.model_popup-container {
  height: 40vh;
  width: 60vh;
  background-color: gray;
  display: flex;
  position: absolute;
  left: 30%;
  top: 30%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  animation: popup 0.3s ease;
}

@keyframes popup {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.text_Area_Container {
  width: 70%;
  height: 100%;
  background-color: burlywood;
  font-size: 2rem;
  outline: none;
}

.Priority-colors-container {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.priority-color {
  height: 3rem;
  width: 6rem;
}

.Active{
 border: 3px solid gold;
  box-shadow: 0 0 10px gold;
 
}