* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.toolbox-container {
  background-color: grey;
  height: 5rem;
  display: flex;
  align-items: center;
}

.toolbox-priority-container {
  background-color: rgb(93, 92, 92);
  height: 3.5rem;
  width: 20rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.color-box {
  height: 2rem;
  width: 3rem;
}

.LightPink {
  background-color: lightpink;
}

.LightGreen {
  background-color: lightgreen;
}

.LightBlue {
  background-color: lightblue;
}

.Black {
  background-color: black;
}

.action-button-container {
  background-color: rgb(93, 92, 92);
  height: 3.5rem;
  width: 10rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.action-button-container > * {
  display: flex;
  color: white;
  font-size: 2rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.add-btn:hover {
  background-color: green;
  font-size: 3rem;
}

.remove-btn:hover {
  background-color: red;
  font-size: 3rem;
}

.main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap:2rem
}

.ticket-cont {
  height: 12rem;
  width: 15rem;
  background-color: coral;
  margin: 2px;
}

.Ticket_color {
  height: 1rem;
}

.Ticket-id {
  height: 2rem;
  background-color: yellow;
}


.Ticket-lock {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.model_popup-container {
  height: 40vh;
  width: 60vh;
  background-color: gray;
  display: flex;
  position: absolute;
  left: 30%;
  top: 30%;
}

.text_Area_Container {
  width: 70%;
  height: 100%;
  background-color: burlywood;
  font-size: 2rem;
  outline: none;
}

.Priority-colors-container {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.priority-color {
  height: 3rem;
  width: 6rem;
}

.Active{
  border:2px solid goldenrod
}